VITE_SUPABASE_URL=https://fhreetfchulrwzsyzvzt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZocmVldGZjaHVscnd6c3l6dnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NDcwMTUsImV4cCI6MjA5NDIyMzAxNX0.xMqpmeAfCDi_KCHBys_RSwqFrRx9VpJdB9gmIoeAlCE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZocmVldGZjaHVscnd6c3l6dnp0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODY0NzAxNSwiZXhwIjoyMDk0MjIzMDE1fQ.uoImj0v6ggebYqD59LbRQHizdM6LK0zy6FTd73rkDDo
TELEGRAM_BOT_TOKEN=8679875744:AAE9Cf1ZcZBCRWpKvIGQVG7jBYn6o8XqbNU
TELEGRAM_CHAT_ID=-1003937828577
