VITE_SUPABASE_URL=https://ucwjkfptudopmudgljvq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjd2prZnB0dWRvcG11ZGdsanZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyODg2MjksImV4cCI6MjA5Mjg2NDYyOX0.365blw0gc7dbYDiFr9GPnDKobkqBPrKTZ8vNgchKCOw